<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.helllabs.android.xmp"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="XmpApplication"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:replace="supportsRtl">

        <activity
            android:name=".browser.PlaylistMenu"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".browser.PlaylistAddEdit"
            android:parentActivityName=".browser.PlaylistMenu"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".player.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="audio/mod" />
                <data android:mimeType="audio/s3m" />
                <data android:mimeType="audio/xm" />
                <data android:mimeType="audio/it" />
                <data android:mimeType="audio/x-mod" />
                <data android:mimeType="audio/x-s3m" />
                <data android:mimeType="audio/x-xm" />
                <data android:mimeType="audio/x-it" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />

                <!-- 110-ish lines of pure ugliness.
                    https://stackoverflow.com/questions/3400072/
                    https://stackoverflow.com/questions/3760276/ -->

                <!-- Handles: songname.xm -->
                <data android:pathPattern=".*\\.xmz" />
                <data android:pathPattern=".*\\.xm" />
                <data android:pathPattern=".*\\.umx" />
                <data android:pathPattern=".*\\.stm" />
                <data android:pathPattern=".*\\.s3z" />
                <data android:pathPattern=".*\\.s3m" />
                <data android:pathPattern=".*\\.psm" />
                <data android:pathPattern=".*\\.mtm" />
                <data android:pathPattern=".*\\.mod" />
                <data android:pathPattern=".*\\.med" />
                <data android:pathPattern=".*\\.mdz" />
                <data android:pathPattern=".*\\.mdl" />
                <data android:pathPattern=".*\\.m15" />
                <data android:pathPattern=".*\\.j2b" />
                <data android:pathPattern=".*\\.itz" />
                <data android:pathPattern=".*\\.it" />
                <data android:pathPattern=".*\\.imf" />
                <data android:pathPattern=".*\\.amf" />
                <data android:pathPattern=".*\\.XMZ" />
                <data android:pathPattern=".*\\.XM" />
                <data android:pathPattern=".*\\.UMX" />
                <data android:pathPattern=".*\\.STM" />
                <data android:pathPattern=".*\\.S3Z" />
                <data android:pathPattern=".*\\.S3M" />
                <data android:pathPattern=".*\\.PSM" />
                <data android:pathPattern=".*\\.MTM" />
                <data android:pathPattern=".*\\.MOD" />
                <data android:pathPattern=".*\\.MED" />
                <data android:pathPattern=".*\\.MDZ" />
                <data android:pathPattern=".*\\.MDL" />
                <data android:pathPattern=".*\\.M15" />
                <data android:pathPattern=".*\\.J2B" />
                <data android:pathPattern=".*\\.ITZ" />
                <data android:pathPattern=".*\\.IT" />
                <data android:pathPattern=".*\\.IMF" />
                <data android:pathPattern=".*\\.AMF" />
                <data android:pathPattern=".*\\.669" />
                <data android:pathPattern=".*\\.mptm" />
                <data android:pathPattern=".*\\.MPTM" />
                <!-- Handles: example.songname.xm -->
                <data android:pathPattern=".*\\..*\\.xmz" />
                <data android:pathPattern=".*\\..*\\.xm" />
                <data android:pathPattern=".*\\..*\\.umx" />
                <data android:pathPattern=".*\\..*\\.stm" />
                <data android:pathPattern=".*\\..*\\.s3z" />
                <data android:pathPattern=".*\\..*\\.s3m" />
                <data android:pathPattern=".*\\..*\\.psm" />
                <data android:pathPattern=".*\\..*\\.mtm" />
                <data android:pathPattern=".*\\..*\\.mod" />
                <data android:pathPattern=".*\\..*\\.med" />
                <data android:pathPattern=".*\\..*\\.mdz" />
                <data android:pathPattern=".*\\..*\\.mdl" />
                <data android:pathPattern=".*\\..*\\.m15" />
                <data android:pathPattern=".*\\..*\\.j2b" />
                <data android:pathPattern=".*\\..*\\.itz" />
                <data android:pathPattern=".*\\..*\\.it" />
                <data android:pathPattern=".*\\..*\\.imf" />
                <data android:pathPattern=".*\\..*\\.amf" />
                <data android:pathPattern=".*\\..*\\.XMZ" />
                <data android:pathPattern=".*\\..*\\.XM" />
                <data android:pathPattern=".*\\..*\\.UMX" />
                <data android:pathPattern=".*\\..*\\.STM" />
                <data android:pathPattern=".*\\..*\\.S3Z" />
                <data android:pathPattern=".*\\..*\\.S3M" />
                <data android:pathPattern=".*\\..*\\.PSM" />
                <data android:pathPattern=".*\\..*\\.MTM" />
                <data android:pathPattern=".*\\..*\\.MOD" />
                <data android:pathPattern=".*\\..*\\.MED" />
                <data android:pathPattern=".*\\..*\\.MDZ" />
                <data android:pathPattern=".*\\..*\\.MDL" />
                <data android:pathPattern=".*\\..*\\.M15" />
                <data android:pathPattern=".*\\..*\\.J2B" />
                <data android:pathPattern=".*\\..*\\.ITZ" />
                <data android:pathPattern=".*\\..*\\.IT" />
                <data android:pathPattern=".*\\..*\\.IMF" />
                <data android:pathPattern=".*\\..*\\.AMF" />
                <data android:pathPattern=".*\\..*\\.669" />
                <data android:pathPattern=".*\\..*\\.mptm" />
                <data android:pathPattern=".*\\..*\\.MPTM" />
                <!-- Handles: my.example.songname.xm -->
                <data android:pathPattern=".*\\..*\\..*\\.xmz" />
                <data android:pathPattern=".*\\..*\\..*\\.xm" />
                <data android:pathPattern=".*\\..*\\..*\\.umx" />
                <data android:pathPattern=".*\\..*\\..*\\.stm" />
                <data android:pathPattern=".*\\..*\\..*\\.s3z" />
                <data android:pathPattern=".*\\..*\\..*\\.s3m" />
                <data android:pathPattern=".*\\..*\\..*\\.psm" />
                <data android:pathPattern=".*\\..*\\..*\\.mtm" />
                <data android:pathPattern=".*\\..*\\..*\\.mod" />
                <data android:pathPattern=".*\\..*\\..*\\.med" />
                <data android:pathPattern=".*\\..*\\..*\\.mdz" />
                <data android:pathPattern=".*\\..*\\..*\\.mdl" />
                <data android:pathPattern=".*\\..*\\..*\\.m15" />
                <data android:pathPattern=".*\\..*\\..*\\.j2b" />
                <data android:pathPattern=".*\\..*\\..*\\.itz" />
                <data android:pathPattern=".*\\..*\\..*\\.it" />
                <data android:pathPattern=".*\\..*\\..*\\.imf" />
                <data android:pathPattern=".*\\..*\\..*\\.amf" />
                <data android:pathPattern=".*\\..*\\..*\\.XMZ" />
                <data android:pathPattern=".*\\..*\\..*\\.XM" />
                <data android:pathPattern=".*\\..*\\..*\\.UMX" />
                <data android:pathPattern=".*\\..*\\..*\\.STM" />
                <data android:pathPattern=".*\\..*\\..*\\.S3Z" />
                <data android:pathPattern=".*\\..*\\..*\\.S3M" />
                <data android:pathPattern=".*\\..*\\..*\\.PSM" />
                <data android:pathPattern=".*\\..*\\..*\\.MTM" />
                <data android:pathPattern=".*\\..*\\..*\\.MOD" />
                <data android:pathPattern=".*\\..*\\..*\\.MED" />
                <data android:pathPattern=".*\\..*\\..*\\.MDZ" />
                <data android:pathPattern=".*\\..*\\..*\\.MDL" />
                <data android:pathPattern=".*\\..*\\..*\\.M15" />
                <data android:pathPattern=".*\\..*\\..*\\.J2B" />
                <data android:pathPattern=".*\\..*\\..*\\.ITZ" />
                <data android:pathPattern=".*\\..*\\..*\\.IT" />
                <data android:pathPattern=".*\\..*\\..*\\.IMF" />
                <data android:pathPattern=".*\\..*\\..*\\.AMF" />
                <data android:pathPattern=".*\\..*\\..*\\.669" />
                <data android:pathPattern=".*\\..*\\..*\\.mptm" />
                <data android:pathPattern=".*\\..*\\..*\\.MPTM" />
                <data android:pathPattern=".*\\..*\\..*\\.oxm" />
                <data android:pathPattern=".*\\..*\\..*\\.OXM" />
            </intent-filter>
        </activity>

        <activity
            android:name=".browser.FilelistActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".browser.PlaylistMenu" />

        <activity
            android:name=".browser.PlaylistActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <!-- ModArchive search & download -->
        <activity
            android:name=".modarchive.Search"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".modarchive.SearchError"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".modarchive.SearchHistory"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".modarchive.Search" />

        <activity
            android:name=".modarchive.result.SearchListResult"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modarchive.Search" />
        </activity>


        <activity
            android:name=".modarchive.result.ArtistResult"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modarchive.Search" />
        </activity>

        <activity
            android:name=".modarchive.result.ModuleResult"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modarchive.Search" />
        </activity>

        <!-- Preferences -->
        <activity
            android:name=".preferences.Preferences"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".preferences.about.ListFormats"
            android:exported="false"
            android:parentActivityName=".preferences.Preferences"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="org.helllabs.android.xmp.LIST_FORMATS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".preferences.about.About"
            android:exported="false"
            android:parentActivityName=".preferences.Preferences"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="org.helllabs.android.xmp.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.PlayerService" />

        <!--        <receiver-->
        <!--            android:name=".service.receiver.MediaButtonsReceiver"-->
        <!--            android:enabled="true">-->
        <!--            <intent-filter android:priority="2147483647">-->
        <!--                <action android:name="android.intent.action.MEDIA_BUTTON" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <!--        <receiver-->
        <!--            android:name=".service.receiver.RemoteControlReceiver"-->
        <!--            android:enabled="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MEDIA_BUTTON" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
        <!--        <receiver android:name=".service.receiver.NotificationActionReceiver" />-->

    </application>

</manifest>
